*{

    margin:0;

    padding:0;

    list-style: none;

    text-decoration: none;
    }
    body{

        background: #fff;

        width: 100%;

        background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);


    }

    .text{

        margin-top: 140px;

        font-size: 50px;

        color: #185b92;
        
        text-align: center;
    }
    #container{

        width: 100%;

        height: 250px;

        margin: 0 auto;

    }

    #logo{

        float: left;
        
        margin:-5px 5px 0 0;

        color: #7b7b7b;
    }

    form{

        background: #fff;
        
        float:left;

        margin: 0 auto;
        
        text-align: center;

        
    }
    #search-input{ /*搜索框*/

    outline:none;/*无外框线*/
    
    border: 0mm;
    
    border-color: white;

    width:400px;

    height: 40px;

    float: left;/*向左浮动*/

    border-radius:8px;/*边框圆角*/

    font-size:14px;

    box-shadow:  20px 25px 65px #bebebe,

    -20px -20px 60px #ffffff;/*阴影设置*/

    }

    #search-input:hover{
        box-shadow:  20px 25px 65px #d2d2d2,

        -20px -20px 60px #ffffff;/*阴影设置*/

    }
    #search-button{	/*搜索按钮*/

     background-repeat: no-repeat;

    background-color: #138be8;/*按钮颜色*/

    width:40px;/*长度*/

    height: 40px;/*高度*/

    float: left;/*向左浮动*/
    
    border: 0em;/*无边框*/

    border-radius:3px;

    margin: 0px;

    border-color: #138be8;/*按钮边框色*/

    cursor:pointer;

    color: #FFF;

    box-shadow:  20px 20px 60px #bebebe,

    -20px -20px 60px #ffffff;/*阴影设置*/

    }
    #search-button:hover { /* 鼠标移入按钮范围时改变颜色 */
	    background: #ffffff;
        color: #138be8;
    }

    
    #wrapper{ /*搜索部分*/

    position: absolute;

    top: 250px;

    background-color: rgba(0, 0,n0, 0);

    width: 31%;

    left:calc(50% - 31%/2);

  

    }
    

a {
   color: black;/*链接默认颜色为黑色*/

    cursor:pointer;/*手势*/

 }

a:hover {

    color: #138be8;
    
}
footer{

    position:absolute;

    color:#fff;

    bottom:0;

    width:100%;

    height:70px;

    line-height:70px;

    text-align:center;

    background-color: #000;
}
